<% flash.each do |type, message| %>
  <div class="alert alert-info fade show">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>

<span>
  Hi, <%= current_user.email %>! Hope you like this app) Otherwise you can
</span>
<span>
  <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
</span>
